.add_button {
    color: white;
    float: right;
    margin: 1%;
    padding-left: 1%;
    padding-right: 1%;
    background: transparent;
    border-radius: 25px;
    border: 1px solid rgb(19, 255, 255);
    transition: 0.3s;
}
.add_button:hover {
    border-color: white;
    background-color: rgb(28, 99, 231);
}

.remove_button {
    color: white;
    float: left;
    margin: 1%;
    padding-left: 1%;
    padding-right: 1%;
    background: transparent;
    border-radius: 25px;
    border: 1px solid #df2323;
    transition: 0.3s;
}
.remove_button:hover {
    border-color: white;
    background-color: #df2323;
}