@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.App {
  text-align: center;
  height: 100vh;
  margin: 2rem auto;
  display: grid;
  grid-template-areas: "header header header"
                        "left main right";
  grid-template-rows: 1fr 3fr;
  grid-template-columns: 0.5fr 2.5fr 1fr;
  background-color: #282c34;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.cell-main {
  grid-area: main;
  background: green;
}

.cell-left {
  border-radius: 25px;
  border: 2px solid rgb(19, 255, 255);
  grid-area: left;
}

.cell-right {
  border-radius: 25px;
  border: 2px solid rgb(19, 255, 255);
  grid-area: right;
}

.App-header {
  grid-area: header;
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
