body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.card {
  color: black;
  background-color: #ffffff;
  transition: 0.3s;
  margin-top: 3%;
}
.card:hover {
  transform: scale(.95);
  cursor: -webkit-grab; cursor: grab;
}
.card:active {
  cursor: -webkit-grabbing; cursor: grabbing;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.delete-button {
  position: absolute;
  right: -10px;
  top: 0px;
  visibility: hidden;
  transition: 0.3s;
  background: transparent;
  border: 0px;
}
.delete-course {
  position: absolute;
  right: -10px;
  visibility: hidden;
  transition: 0.3s;
  background: transparent;
  border: 0px;
  size: 0.01px;
}
.card:hover .delete-button {
  right: 5px;
  transform: scale(1.75);
  visibility: visible;
}
.delete-button:hover {
  color: crimson;
}
.card:hover .delete-course {
  right: 0px;
  transform: scale(1.3);
  visibility: visible;
}
.delete-course:hover {
  color: crimson;
}
.select-button-on {
  position: absolute;
  color: rgb(46, 196, 46);
  visibility: visible;
  transition: 0.3s;
  background: transparent;
  border: 0px;
  size: 2px;
  left: 2px;
  transform: scale(1.5);
}
.select-button-off {
  position: absolute;
  left: -10px;
  visibility: hidden;
  transition: 0.3s;
  background: transparent;
  border: 0px;
  size: 2px;
}
.card:hover .select-button-off {
  left: 2px;
  transform: scale(1.5);
  visibility: visible;
}
.select-button-off:hover {
  color: rgb(46, 196, 46);
}

.edit-button {
  position: absolute;
  right: 10px;
  top: 0px;
  visibility: hidden;
  transition: 0.3s;
  background: transparent;
  border: 0px;
}
.card:hover .edit-button {
  right: 40px;
  transform: scale(1.50);
  visibility: visible;
}
.edit-button:hover {
  color: green;
}

.card-body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
}



.card-header {
  background-color: #ffffff;

  flex-direction: column;
  color: black;
}

.dropdown-button {
  background-color: #ffffff;
}

.column-dropdown {
  color: black;
}

.semester-title{
  float: right;
  text-decoration: underline;
}
.popover {
  padding: 1%;
}
.edit-desc-button {
  position: absolute;
  background: transparent;
  border: 0px;
  padding: 0px 5px 5px 5px;
  transition: 0.3s;
}
