body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.card {
  color: black;
  background-color: #ffffff;
  transition: 0.3s;
  margin-top: 3%;
}
.card:hover {
  transform: scale(.95);
}
.delete-button {
  position: absolute;
  right: -10px;
  visibility: hidden;
  transition: 0.3s;
  background: transparent;
  border: 0px;
}
.delete-course {
  position: absolute;
  right: -10px;
  visibility: hidden;
  transition: 0.3s;
  background: transparent;
  border: 0px;
  size: 0.01px;
}
.card:hover .delete-button {
  right: 0px;
  transform: scale(1.75);
  visibility: visible;
}
.delete-button:hover {
  color: crimson;
}
.card:hover .delete-course {
  right: 0px;
  transform: scale(1.3);
  visibility: visible;
}
.delete-course:hover {
  color: crimson;
}


.edit-button {
  position: absolute;
  right: -10px;
  visibility: hidden;
  transition: 0.3s;
  background: transparent;
  border: 0px;
}
.card:hover .edit-button {
  right: 0px;
  transform: scale(1.75);
  visibility: visible;
}
.edit-button:hover {
  color: rgb(64, 102, 7);
}

.card-body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
}


.card-header {
  background-color: #ffffff;

  flex-direction: column;
  color: black;
}

.dropdown-button {
  background-color: #ffffff;
}

.column-dropdown {
  color: black;
}

.semester-title{
  float: right;
  text-decoration: underline;
}