.course {
    border-radius:25px;
    border: 3px solid;
    border-color: #fff;
    background: #fff;
    color: black;
    margin: 5%;
    margin-left: 10%;
    margin-right: 10%;
    transition: 0.3s;
}

.add-button {
    margin: 5%;
    transition: 0.3s;
    background: transparent;
    border: 0px;
}

.course:hover {
    transform: scale(.95);
}
.add-button:hover {
    color: crimson;
  }