.form__field {
    width: 70%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1rem;
    padding: 7px 0;
    transition: border-color 0.5s;
    color:gray;
}
.form__field:focus {
    border-bottom: 2px solid #11998e;

}

